data-load/src/main/resources/player-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.strangeforest.org/schema/tcb">
	<xs:element name="player-data" type="playerDataType"/>
	<xs:complexType name="playerDataType">
		<xs:sequence>
			<xs:element type="playerType" name="player"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="playerType">
		<xs:sequence>
			<xs:element type="xs:date" name="dob"/>
			<xs:element type="xs:string" name="birthplace"/>
			<xs:element type="xs:string" name="residence"/>
			<xs:element type="xs:short" name="height"/>
			<xs:element type="xs:short" name="weight"/>
			<xs:element type="playerHand" name="hand"/>
			<xs:element type="playerBackhand" name="backhand"/>
			<xs:element type="xs:short" name="turnedPro"/>
			<xs:element type="xs:string" name="coach"/>
			<xs:element type="xs:anyURI" name="webSite"/>
			<xs:element type="xs:string" name="twitter"/>
			<xs:element type="xs:string" name="facebook"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="name"/>
	</xs:complexType>
	<xs:simpleType name="playerHand">
		<xs:restriction base="xs:string">
			<xs:enumeration value="R"/>
			<xs:enumeration value="L"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="playerBackhand">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>